<a href="https://colab.research.google.com/github/Manan1811/Natural-Language-Processing/blob/master/NLP/One_Hot_Representation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from keras.preprocessing.text import one_hot

docs= ['glass of orange Juice',
       'bottle of mango juice',
       'glass of mango shake',
       'drink bottle of banana shake',
       'I want a glass of cold water',
       'The king and the queen', 
       'man and woman']

In [ ]:
vocab_size=10000
encoded_docs= [one_hot(d, vocab_size) for d in docs]
print(encoded_docs)

[[8921, 8205, 7304, 769], [6453, 8205, 1384, 769], [8921, 8205, 1384, 3353], [7042, 6453, 8205, 7293, 3353], [4873, 5138, 1351, 8921, 8205, 5277, 2675], [8585, 7056, 8439, 8585, 2233], [9083, 8439, 4345]]